* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
/* color pallet
    #E52020 rgb(229, 32, 32) RED
    #FBA518 rgb(251, 165, 24) ORANGE
    #F9CB43 rgb(249, 203, 67) YELLOW
    #A89C29 rgb(168, 156, 41) SAGE
*/

nav{
    padding: 20px;
    background-color: #F9CB43;
}
nav ul{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px 0 20px;  */
}

body{
    background-color: #FBA518;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1{
    /* background-color: #A89C29; */
    padding: 40px;
    margin-top: 50px;
    font-size: 8em;
    border-radius: 25px;
}
header h3{
    padding: 8px;
    border: 2px solid black;
    font-size: 2em;
    margin-top: 40px;
    cursor: pointer;
    background-color: #E52020;
}

.container1{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.container1 div{
    width: 300px;
    display: flex;
    text-align: center;
}
.container1 .item1{
    background-color: #F9CB43;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}
.container1 .item2{
    background-color: #F9CB43;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}
.container1 .item3{
    background-color: #F9CB43;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #F9CB43;
}


.order {
    margin: 30px;
    background-color: #F9CB43;
    width: 200px;
    height: 250px;
    overflow-y: auto;
}
/* .order .item{
    text-align: center;
    color: black;
    display: block;
    padding: 12px; 
} */

.item{
    display: flex;
    justify-content: space-around;
}